<body>
<div>
    Input number1 <input id="TbNum1" type="text">
    <br>
    Input number2 <input id="TbNum2" type="text">
    <br>
    <Input type="button" value="Suma" onclick="Add()">
        
    <Input type="button" value="Resta" onclick="Subtraction()">
        
    <Input type="button" value="Multiplicar" onclick="Multiplication()">
        
    <Input type="button" value="Division" onclick="Division()">
    <br>
    Resultado: <label id="Lboutput"></label>

</div>


</body>

<script>

function Add()
{
    var num1 = TbNum1.value * 1;
    var num2 = TbNum2.value * 1;
    var sum = num1 + num2;
    Lboutput.innerHTML = "La suma es " + sum;
}

function Subtraction()
{
    var num1 = TbNum1.value * 1;
    var num2 = TbNum2.value * 1;
    var resta = num1 - num2;
    Lboutput.innerHTML = "The subtraction is " + resta;
}
function Multiplication()
{
    var num1 = TbNum1.value * 1;
    var num2 = TbNum2.value * 1;
    var multiplication = num1 * num2;
    Lboutput.innerHTML = "The multiplication is " + multiplication;
}
function Division()
{
    var num1 = TbNum1.value * 1;
    var num2 = TbNum2.value * 1;
    var division = num1 / num2;
    Lboutput.innerHTML = "The division is " + division;
}
</script>