<input id ="TbNom" type= "text"/>
<br><br>
<input id ="TbApellido" type= "text">
<input type="button" value= "DiHola" onclick= "DiHola()">
<br><br>

<script>

function DiHola()
{
    MyAlert(TbNom.value,TbApellido.value);

}

function MyAlert(nom, apellido)
{
    //var nom = " Claudio";
    var text = "Hola " + nom + " " + apellido;

    alert(text);
    
}
//MyAlert("Claudio")
</script>