<input id="TbName" type="text">
<br>

<input type="button" value="DiHola" onclick="My alert(TabName.value)"/>
<script>
function DiHOLA()
{
    My alert(TbName.value);
}
function Myalert(name)
{
    var message="Hola" + name;
    alert(message);
}
</script>