
<input id="TbName" type="text">
<br><br>

<input type="button" value="escriba sus apellidos" onclick="Myalert(TabName.value)()"/>

<script>
function apellidos()
{
    Myalert(TbName.value);
}
function Myalert(apellidos)
{
    var message="Que es tu"  +apellidos;
    alert(message);
    

</script>